<div flexLayout
     fxLayoutAlign="space-around center"
     fxLayoutAlign.gt-md="center center"
     class="counter-container sky-background">
  <div fxFlex
       [ngStyle.gt-md]="{ 'margin.px': 20 }"
       class="counter days slides-item slide-active">
    <p>Days</p>
    {{ this.days }}
  </div>
  <div fxFlex
       [ngStyle.gt-md]="{ 'margin.px': 20 }"
       class="counter hours slides-item slide-active">
    <p>Hours</p>
    {{ this.hours }}
  </div>
  <div fxFlex
       [ngStyle.gt-md]="{ 'margin.px': 20 }"
       class="counter minutes slides-item slide-active">
    <p>Minutes</p>
    {{ this.minutes }}
  </div>
  <div fxFlex
       [ngStyle.gt-md]="{ 'margin.px': 20 }"
       class="counter seconds slides-item slide-active">
    <p>Seconds</p>
    {{ this.seconds }}
  </div>
</div>
