<mat-card class="bounce">
  <mat-spinner diameter="40"
               *ngIf="showSpinner"></mat-spinner>
  <form [formGroup]="form" novalidate>
    <mat-vertical-stepper linear>
      <mat-step label="BASIC INFORMATION"
                formGroupName="subscriber"
                [stepControl]="form.get('subscriber')">
            <mat-form-field>
                <input matInput
                       formControlName="first_name"
                       placeholder="First Name">
                <mat-error *ngIf="form.get('subscriber.first_name').errors?.required">Please insert your Name</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="last_name"
                       placeholder="Last Name">
                <mat-error *ngIf="form.get('subscriber.last_name').errors?.required">Please insert your Last Name</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="email"
                       placeholder="Email">
                <mat-error *ngIf="form.get('subscriber.email').errors?.required">Please insert your Email</mat-error>
                <mat-error *ngIf="form.get('subscriber.email').errors?.email">Please insert a valid Email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="ethereum"
                       placeholder="Ethereum Address">
                <mat-error *ngIf="form.get('subscriber.ethereum').errors?.required">Please insert an Ethereum Address</mat-error>
                <mat-error *ngIf="form.get('subscriber.ethereum').errors?.minLength || form.get('subscriber.ethereum').errors?.maxLength">Please insert a valid Ethereum Address</mat-error>
            </mat-form-field>
      </mat-step>
      <mat-step label="ACCEPT CLAUSES"
                [stepControl]="form.get('clauses')">
        <div class="clauses"
              formGroupName="clauses">
          <mat-checkbox formControlName="one">
            I hereby undertake and confirm that I have read and understand the contents of <a href="https://github.com/lightstreams/lightstreams/blob/master/white-paper.md">the current version of the whitepaper</a>.
          </mat-checkbox>
          <mat-checkbox formControlName="two">
            I hereby undertake and confirm that the details of my identity I have supplied are accurate.
          </mat-checkbox>
          <mat-checkbox formControlName="three">
            I hereby undertake and confirm that I have read and accept the terms and conditions of the SHP token sale.
          </mat-checkbox>
          <mat-checkbox formControlName="four">
            I hereby undertake and confirm that I have read and accept the Sharpe Capital privacy agreement.
          </mat-checkbox>
          <mat-checkbox formControlName="five">
            I am not a national or resident of the United States of America, or I am an "accredited investor" as such term is defined in Section 501 of Regulation D under the United States Securities Act of 1933.
          </mat-checkbox>
          <mat-checkbox formControlName="six">
            I am not a national or resident of the People's Republic of China, Singapore or Hong Kong.
          </mat-checkbox>
          <mat-checkbox formControlName="seven">
            I understand that purchasing SHP tokens does not entitle me to any other tokens in the future.
          </mat-checkbox>
          <mat-checkbox formControlName="eight">
            I hereby undertake and confirm that my primary domicile is not in one of the following UN embargoed countries; Afghanistan, Democratic Republic of the Congo, Eritrea, Guinea Bissau, Haiti, Iran, Iraq, Kenya, Liberia, Libya, North Korea, Rwanda, Sierra Leone, Somalia, Sudan or Syria.
          </mat-checkbox>
          <mat-error *ngIf="form.get('clauses').invalid;">
            <div class="accept-message"
                 (click)="checkAllClauses()">
                 Please accept all the clauses to proceed
            </div>
          </mat-error>
        </div>
      </mat-step>
      <mat-step label="CONTRIBUTION DETAILS"
                [stepControl]="form.get('contribution_details')">
        <mat-form-field>
          <input matInput
                  formControlName="contribution_details"
                  placeholder="Contribution Details"
                  type="number"
                  #contributionInput
                  autocomplete="off">
          <mat-error *ngIf="form.get('contribution_details').errors?.required">Please insert the Contribution Details</mat-error>
        </mat-form-field>
        <button class="btn btn-border btn--yellow btn--with-shadow"
                (click)="saveSubscriber(form.value)"
                [disabled]="form.get('contribution_details').invalid">
                  JOIN!
        </button>
        <div class="subscribed-message" *ngIf="subscribed">
          <h2 class="join">WELLCOME TO LIGHTSTREAMS!</h2>
          <p>We will keep you informed at {{form.get('subscriber.email').value}}</p>
        </div>
      </mat-step>
    </mat-vertical-stepper>

  </form>
</mat-card>
